{% extends 'base.html' %}
{% load i18n staticfiles martortags %}


{% block title %}{% trans "Contact" %} - {{ block.super }}{% endblock %}


{% block content %}


<form action="{% url "contact_message" %}" method="post">
{% csrf_token %}

  <section id="cover">
    <div class="container">
      <div class="col-md-12 p-3" align="center">

          <h2>
              {% trans "Contact form" %}
          </h2>

			<form action="{% url "contact_message" %}" method="post">

				{% csrf_token %}

				<div class="form-row mb-3">
					<div class="col">
						<input type="text" name="name" style="padding-right:50%; " required="required" id="form-contact-name" class="form-control" placeholder="{% trans "Name" %}">
					</div>
				</div>

				<div class="form-row mb-3">
					<div class="col">
						<input type="email" name="email"  style="padding-right:50%;" required="required" id="form-contact-email" class="form-control" placeholder="{% trans "Email" %}">
					</div>
				</div>

				<div class="form-row mb-3">
					<div class="col">
						<textarea type="text" name="message" style="padding-right:50%;" id="form-contact-message" class="form-control md-textarea" rows="3" placeholder="{% trans "Message" %}"></textarea>
					</div>
				</div>

				<div class="form-row mb-3">
					<div class="col">
						{{ form.captcha }}
					</div>
				</div>

				<div class="form-row mb-3">
					<div class="col">
						<button type="submit" class="btn-lg"><i class="far fa-paper-plane"></i> {% trans "Submit" %}</button>
					</div>
				</div>

			</form>

      </div>
  </section>

</form>

{% endblock %}
