{% extends 'base.html' %}
{% load i18n staticfiles martortags %}<!DOCTYPE html>

<link href="https://fonts.googleapis.com/css?family=Raleway:400,900" rel="stylesheet">
{% block navbar %}{% endblock %}


{% block content %}
<section class="container">
	<div id="home-header" style="margin: 0 auto;" class="d-flex flex-column align-items-center justify-content-center">
		<div  class="d-flex col-md-4 align-items-center justify-content-center">
			{% get_current_language as LANGUAGE_CODE %}
			<img class="mx-auto" src="{% if LANGUAGE_CODE == 'tr' %}{% static 'PiA_logo_eng.png' %}{% else %}{% static 'PiA_logo_eng.png' %}{% endif %}" style="height: 4rem; margin-top: 2%;">
		</div>
		<br/>
		<div class="d-flex col-md-7 align-items-center justify-content-center" style="text-align: justify;">
			<span style="color: rgb(168,168,168); font-size: 15px;">
            {% if LANGUAGE_CODE == 'en' %}
                Press in Arrest is a commitment to a reinvigorated freedom of speech through the observation and documentation of collective memories related to the trials of journalists in Turkey.
                Through our work, we hope to facilitate a healthy functioning freedom of press, opinion and expression that incorporates the rights to information.
                Press in Arrest is a study to observe, document and strengthen the collective memory concerning the trials of journalists in Turkey.
                It aims at contributing to reinvigorating a healthy functioning freedom of press, opinion and expression as well as right to information.
            {% else %}
				Press in Arrest, Türkiye’deki gazeteci yargılamalarını izleme, belgeleme ve hafızalaştırma çalışmasıdır.
				Basın, düşünce ve ifade özgürlüğü ile halkın haber alma haklarının yeniden sağlıklı bir şekilde işletilmesine katkıda bulunmayı hedefler.
            {% endif %}
				<a class="p-2 fa-lg tw-ic" href="https://twitter.com/pressinarrest" target="_blank">
					<i class="fab fa-twitter"></i>
				</a>
			</span>
		</div>
	</div>
	

	<br/>
	<br/>


<section style="float:none; margin: 0 auto; text-align: justify;">
	<nav class="navbar navbar-toggleable-sm navbar-expand-lg col-md-12" style="background-color: rgb(123,158,158,0.5);">
		<button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			<span style="margin-left:0.60rem;">Menu</span>
		</button>

		<div class="collapse navbar-collapse justify-content-center" id="navbarNav">
			<ul class="navbar-nav mr-auto">

				<li class="nav-item" style="font-family: 'Raleway Black', sans-serif; color:black; font-size:20px;">
					<a class="nav-link" href="{% url 'case_list' %}">{% if LANGUAGE_CODE == 'tr' %}{% trans "Cases" %}{% else %}Trials{% endif %}</a>
				</li>

				<li class="nav-item" style="font-family: 'Raleway Black', sans-serif; color:black; font-size:20px;">
					<a class="nav-link" href="{% url 'journalist_list' %}">{% trans 'Journalists' %}</a>
				</li>

				<li class="nav-item" style="font-family: 'Raleway Black', sans-serif; color:black; font-size:20px;">
					<a class="nav-link" href="{% url 'article_list' %}">{% trans 'Analysis' %}</a>
				</li>

				<li class="nav-item" style="font-family: 'Raleway Black', sans-serif; color:black; font-size:20px;">
					<a class="nav-link" href="{% url 'about' %}">{% trans 'What do we do?' %}</a>
				</li>
				<li>
					<div class="wrapper" style="font-size: 18px;">
                        <form action="{% url "haystack_search" %}">
						<div class="icon-search-container" data-ic-class="search-trigger">
							<span class="fa fa-search" ></span>
							<input type="text" name="q" class="search-input" id="myInput" data-ic-class="search-input" placeholder="{% trans "Search" %}"/>
							<span class="fa fa-times-circle" data-ic-class="search-clear"></span>
						</div>
                        </form>
					</div>
				</li>
			</ul>
			<div class="float-right" style="font-size: 18px;">

				{% get_current_language as LANGUAGE_CODE %}
				{% get_available_languages as LANGUAGES %}
				{% get_language_info_list for LANGUAGES as languages %}

				{% for language in languages %}
				{% if language.code != LANGUAGE_CODE %}
				<a href="{% url 'set_lang' %}?lang={{ language.code }}">{{ language.name_local }}</a>
				{% else %}
				{{ language.name_local }}
				{% endif %}
				{% if not forloop.last %} | {% endif %}
				{% endfor %}
			</div>
		</div>
	</nav>

	<div class="container row col-md-12" style="padding:0px; margin:0px;">
		<div id="myCarousel" class="carousel slide col-md-9" data-ride="carousel" style="padding:0px;">
			<ol class="carousel-indicators">
				{% for item in carousel %}
				<li data-target="#myCarousel" data-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %}></li>
				{% endfor %}
			</ol>
			<div class="carousel-inner">
				<img src="{{ carousel.0.image.url }}" class="w-100 d-block img-fluid" style="max-height:450px!important;">
				{% for item in carousel %}
				<div class="carousel-item {% if forloop.first %}active{% endif %}">
					<div class="carousel-caption" style="right:0% !important; padding-top:10px !important; font-family: 'Raleway Black', sans-serif; color:black; font-size:1.7vmax; background-color: rgb(226,212,191, 0.6); height: auto; text-align:left;">
						<b>
                        {% if LANGUAGE_CODE == 'en' %}
                            {{ item.text_en }}
                        {% else %}
                            {{ item.text }}
                        {% endif %}
                        </b>
					</div>
				</div>
				{% endfor %}
			</div>
			<a class="carousel-control-prev" data-target="#myCarousel" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">{% trans "Previous" %}</span>
			</a>
			<a class="carousel-control-next" data-target="#myCarousel" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">{% trans "Next" %}</span>
			</a>
		</div>

		<div class="veriler-content text-center col-md-3 d-none d-md-block d-l-block d-xl-block" style="margin-top:1rem; float: right;">
			<div class="column justify-content-center">
				<div class="col-xs-2">
					<a href="{% url 'journalist_list' %}" style="text-decoration:none">
						<div class="item-circle c1 wow fadeInLeft data-wow-duration=2s" style="background-color: rgb(211,119,84,0.7); border:3px solid rgb(211,119,84,0.3); color:white;width: 100px; height:100px; line-height: 100px !important;">
							<p style="font-family: Lato;"><strong>{{ info.prosecuted }}</strong></p>
						</div>
						<h4 style="margin-top:10px; font-size:16px; color:black">{% trans "PROSECUTED" %}</h4>
					</a>
				</div>

				<div class="col-xs-2">
					<a href="{% url 'journalist_list' %}" style="text-decoration:none">
						<div class="item-circle c2 wow fadeInUp data-wow-duration=2s" style="background-color: rgb(123,158,158,0.7); border:3px solid rgb(123,158,158,0.3); color:white; color:white; width: 100px; height: 100px; line-height: 100px !important;">
							<p style=" font-family: Lato;"><strong>{{ info.jailed }}</strong></p>
						</div>
						<h4 style="margin-top:10px; font-size:16px; color:black">{% trans "JAILED" %}</h4>
					</a>
				</div>

				<div class="col-xs-2">
					<a href="{% url 'journalist_list' %}" style="text-decoration:none">
						<div class="item-circle c3 wow fadeInRight data-wow-duration=2s" style="background-color: rgb(211,119,84,0.7); border:3px solid rgb(211,119,84,0.3);  color:white; width: 100px; height: 100px; line-height: 100px !important;">
							<p style="font-family: Lato;"><strong>{{ info.pending_trial }}</strong></p>
						</div>
						<h4 style="margin-top:10px; font-size:16px; color:black">{% trans "PENDING TRIAL" %}</h4>
					</a>
				</div>
			</div>
		</div>
	</div>
	
	<div class= "row card-group col-md-12" style="float:none;">
		{% for trial in upcoming_trials|slice:":4" %}
		<div class=" card card-header border-dark shadow bg-white col-md-3" style="margin-top:1.5em; background-color: white; margin-right: 1rem;">
			<span class="card-text justify-content-center">

				<h4 class="card-title" style="text-align:left">{{ trial.case.name }}</h4>

				<i class="far fa-calendar-alt"></i>
				<span class="card-text align-middle" style="text-align:left">{{ trial.time_next|date }}</span>
				<div>
					<i class="far fa-clock"></i>
					<span class="card-text align-middle" style="text-align:left">{{ trial.time_next|time }}</span>
				</div>
				<div>
					<i class="fas fa-map-marker-alt"></i>
					<span class="card-text align-middle" style="text-align:left">{{ trial.case.court }}</span>
				</div>
			</span>
		</div>
		{% endfor %}
	</div>
</section>

<hr/>

<section class="row col-md-12" id="yaklasandurusmalar" style="background-color: white; height:unset;float:none;">
	
		<div class="contact-section" style="float:none; margin: 0 auto; position:absolute">
			<form  action="{% url "contact_message" %}" method="post">
				{% csrf_token %}

				<div class="card" style="">
					<div class="row">
						<div class="card-body form">
							<h3 class="mt-4"><i class="fas fa-envelope pr-2"></i>{%  trans "Contact" %}:</h3>
							<br/>
							<div class="row">
								<div class="md-form mb-0">
									<input type="text" name="name" style="padding-right:50%; " required="required" id="form-contact-name" class="form-control" placeholder="{% trans "Name" %}">
									<br/>
								</div>						
							</div>

							<div class="row">
								<div class="md-form mb-0">
									<input type="email" name="email"  style="padding-right:50%;" required="required" id="form-contact-email" class="form-control" placeholder="{% trans "Email" %}">
									<br/>
								</div>
							</div>

							<div class="row">							
								<div class="md-form mb-0">
									<textarea type="text" name="message" style="padding-right:50%;" id="form-contact-message" class="form-control md-textarea" rows="3" placeholder="{% trans "Message" %}"></textarea>
									<br/>
									<button type="submit" class="btn-lg"><i class="far fa-paper-plane"></i> {% trans "Submit" %}</button>
								</div>
							</div>
						</div>

						<!-- <div class="col-md-7 card-body contact text-center white-text flex-nowrap">
							<h3>{% trans "Contact information" %}:</h3>
							<hr class="hr-light">
							<ul class="list-inline text-center list-unstyled">
								<li class="list-inline-item">
									<a class="p-2 fa-lg tw-ic" href="https://twitter.com/TutukluBasin" target="_blank">
										<i class="fab fa-twitter"></i>
									</a>
								</li>
							</ul>
						</div> -->
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
</section>
</section>





{% endblock %}


{% block foot %}

<script>


	$(document).ready(function() {

		$('#myCarousel').carousel();

	});



</script>


{% endblock %}
