
/* Anasayfa ve Gazeteci Listesi */

html,
body,


#cover{
  background: no-repeat center right ;
  background-position: 100%;
}



.navbar{
  font-family: 'Raleway', sans-serif;
}

a.nav-link:hover{
  color: #2980b9 !important;
  transition: color 0.5s ease;
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
}

.fixed-top{
  max-width: 1140px;
  margin: 5px auto;
  background-color: white;
  transition: 0.2s all linear;
}


.btn{
  color: #2980b9;
  font-family: 'Raleway', sans-serif;
}

.btn .hover{
  background-color: #2980b9;
  color: white;
}

.welcome{
  margin-top: 10%;
  font-family: 'Monoton', cursive;
  word-spacing: 10px;
}

h2{
  font-family: 'Raleway', sans-serif;
  padding-bottom: 30px;
}

.item-circle{
  font-family: 'Raleway', sans-serif;
}


.veriler-top h3{
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 85px;
  margin-top: 85px;
  padding-top:110px;
}

.item-circle{

  width: 150px;
  height: 150px;
  margin: 0 auto;
  border-radius: 75px;
  line-height: 125px;
}

.c1{
  background-color: #0B9296 ;
  border:3px solid #0B9296;
  color:white;
}

.c2{
  background-color: #ED8A15;
  border:3px solid #ED8A15;
  color:white;
}

.c3{
  background-color: #2A2857;
  border:3px solid #2A2857;
  color:white;
}

.gazetecigorseli{
  width:13rem; height: 13rem; 
  border-radius: 6rem !important;
  color:black
}

.veriler-content h4{
  font-family: 'Raleway', sans-serif;
}

.veriler-content p{
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 40px;
}

.gazeteciler-top h3{
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 85px;
  margin-top: 85px;
}

.yaklasandurusmalar-top h3{
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 85px;
  margin-top: 85px;
}


#gazeteciler{
  background-color: #f7f7f7;
  padding-top: 110px;
  padding-bottom: 70px;
}

#yaklasandurusmalar{
  background-color: #f7f7f7;
  padding-top: 110px;
  padding-bottom: 70px;
}

.card{
  border-style: none;
}

.gazetecicard {
  width: 20rem;
  height: 580px;
  padding-top: 10px;
}


.gazeteciler-content .row{
  margin-bottom: 50px;
}

.yaklasandurusmalar-content .row{
 
}


.card-block{
  font-family: 'Raleway', sans-serif;
  font-size:20px; margin-top: 10px;

}

.fixed-top.change-fixed-top{
  margin-top: 0;
  background-color: muted;
}

#contact{

  color: black;
  font-family: 'Raleway', sans-serif;
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 85px;
  margin-top: 0px;
  padding-top: 110px;
  padding-bottom: 70px;
}

.subscription-row{
  padding-top: 30px;
}

.icons{
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding-top: 20px;
  word-spacing: 10px;
}


/* Gazeteci Detay */

.gazetecidetaygorseli{
  width:80%; height: 250px; border-radius: 10px;

}

.card-text{
  font-size: 15px;
}


.nav-item{
  font-size: 15px;

}

.nav-link{
  color:black;
}

.nav-item:hover{
  color: #0B9296;
}

.pointer {cursor: pointer;}


.gazeteci-detay-card-header{
  background-color: white;
}


.card-nav-tab{
  padding-top:20px;

}

.gazeteci-modal-body{
  text-align:justify; 
  font-size: 16px;
}

#hukukimodal{
  margin:auto;
}

#gozaltimodal{
 margin:auto;
}

#iddianamemodal{
  margin:auto;
}

#yargilamamodal{
 margin:auto;
}

.tab-pane{
  color:black;
  text-align: justify;
}

/* Analiz */


.analiz{
  background-color:#f7f7f7;
  text-align: justify;
}


.analiz-card-header{
  background-color: white

}

.analiz.detay{
  background-color: #f7f7f7;
}

.analiz-detay-text{
  text-align: justify;
}

.analiz-detay-header{
  background-color: white;
}

/* Ne yapıyoruz? */

.ne-yapiyoruz{
  text-align: justify;
}


/* Duruşmalar Detay */

#durusmalar{
  background-color: #f7f7f7;
  
}

.tab-content{
  font-size:14px;
}


.durusma-nav{
  font-size: 14px;
}

.durusma-card{
  margin-left: 100px;
}



/* Search button */


.wrapper {
  text-align: center; 
}

.icon-search-container {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: relative;
  transition: width 0.2s ease-out;
  backface-visibility: hidden; }
  
  .icon-search-container.active {
    width: 250px;

    border: 1px solid #d9d9d9;
    border-radius: 40px;}
    
    .icon-search-container.active .fa-times-circle{
      opacity: 1;}

      .icon-search-container.active .search-input{
        width: 150px;}


        .fa-search {
          color: #2980b9;
          font-size: 20px;
          position: absolute;
          top: 8px;
          left: 8px;
          cursor: pointer;}

          .fa-times-circle {
            opacity: 0;
            color: #d9d9d9;
            font-size: 20px;
            position: absolute;
            top: 8px;
            right: 8px;
            transition: opacity 0.2s ease-out;
            cursor: pointer;}

            .search-input {
              position: absolute;
              cursor: default;
              left: 45px;
              top: 6px;
              width: 0;
              padding: 4px;
              border: none;
              outline: none;
              font-size: 15px;
              line-height: 20px;
              background-color: rgba(255, 255, 255, 0);
              transition: width 0.2s ease-out;}


              