{% extends 'base.html' %}
{% load i18n staticfiles martortags %}


{% block title %}{{ infographic.title }} - {{ block.super }}{% endblock %}


{% block content %}


<section>
  <div class="container py-3">
    <div class="card border-dark shadow p-3 mb-5 bg-white rounded">
      <div class="row card-header analiz-detay-header">

          <div class="col-md-12 px-3" align="center">
            <div class="card-block" >

              {{ infographic.embed_code|safe }}

            </div>
          </div>

      </div>
    </div>
  </div>
</section>


{% endblock %}
