{% extends 'base.html' %}
{% load i18n staticfiles html_extras %}


{% block title %}{{ journalist.name }} - {{ block.super }}{% endblock %}


{% block content %}


<section>
  <div class="container py-3">
    <div class="card border-dark shadow p-3 mb-5 bg-white rounded">
      <div class="row card-header gazeteci-detay-card-header">
        <div class="col-md-4">
          <img src="{% if journalist.photo %}{{ journalist.photo.url }}{% else %}{% endif %}" class="gazetecidetaygorseli" style="object-fit: cover; width: 200px; height: 200px; border-radius: 100px">
        </div>

        <div class="col-md-8 px-3">
          <div class="card-block" style="text-align:justify;padding-right: 5px;  ">
            <h4 class="card-title">{{ journalist.name }}</h4>
            {% if journalist.bio %}
            <p class="card-text align-middle">
                {{ journalist.bio|remove_p|safe }}
            </p>
            {% endif %}
          </div>
        </div>

      </div>

      {% with journalist.get_case_context as cases %}

      {% for case in cases %}

          <!--a href="{{ case.get_absolute_url }}"-->
              <h5 class="mt-4">{{ case.name }}</h5>
          <!--/a-->

          {% with case.casestatus_set.all as statuses %}
              {% if statuses %}
              <p>
                  {% trans "Case status" %}: {{ statuses.0.get_status_display }}
              </p>
              {% endif %}
          {% endwith %}

          {{ case.summary|safe }}

          {% with case.casejournalist_set.all as case_journalists %}
              {% if case_journalists|length > 1 %}
              <p>
                  {% trans "Other journalists trialed in this case" %}:
                  {% for case_journalist in case_journalists %}
                      {% with case_journalist.journalist as other_journalist %}
                          {% if journalist != other_journalist %}
                              <a href="{{ other_journalist.get_absolute_url }}">{{ other_journalist.name }}</a>{% if not forloop.last %}, {% endif %}
                          {% endif %}
                      {% endwith %}
                  {% endfor %}
              </p>
              {% endif %}
          {% endwith %}

          <div class="col col-md-12 card-nav-tab">

            <ul class="nav nav-tabs">
              {% for note in case.notes %}
                <li class="nav-item">
                    <a class="nav-link {% if forloop.first %}active{% endif %}" data-toggle="tab" data-target="#tab-note{{ note.id }}" role="tab">
                        {{ note.type }}
                    </a>
                </li>
              {% endfor %}
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" data-target="#tab-cases" role="tab">
                        {% trans "Trial Briefs" %}
                    </a>
                </li>
              {% if case.documents or case.trial_documents %}
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" data-target="#tab-docs" role="tab">
                        {% trans "Documents" %}
                    </a>
                </li>
              {% endif %}
            </ul>

            <div class="card card-tabs-1">
              <div class="card-block">
                <div class="tab-content">

                  {% for note in case.notes %}
                  <div class="tab-pane {% if forloop.first %}active{% endif %}" id="tab-note{{ note.id }}">
                    {{ note.note|remove_p|safe }}
                  </div>
                  {% endfor %}

                  <div class="tab-pane" id="tab-cases">

                    {% for trial in case.trial_set.all %}
                        <!--a href="{{ trial.get_absolute_url }}"-->
                            <h5>
                                {{ trial.session_no }}. {% trans "Standing" %}
                                -
                                {{ trial.time_start|date }}
                            </h5>
                        <!--/a-->

                        <p>
                            {{ trial.summary|remove_p|safe }}
                        </p>
                    {% endfor %}

                  </div>

                  {% if case.documents or case.trial_documents %}
                  <div class="tab-pane" id="tab-docs">
                      {% for doc in case.documents %}
                          <p>
                              {{ doc.case }}
                              {% if doc.type %}
                                  (<a href="{{ doc.file.url }}">{{ doc.type }}</a>)
                              {% else %}
                                  <a href="{{ doc.file.url }}">{% trans "Download" %}</a>
                              {% endif %}
                          </p>
                      {% endfor %}

                      {% for doc in case.trial_documents %}
                          <p>
                              {{ doc.trial.case }}
                              {{ doc.trial.session_no }}. {% trans "Standing" %}
                              {% if doc.type %}
                                  (<a href="{{ doc.file.url }}">{{ doc.type }}</a>)
                              {% else %}
                                  <a href="{{ doc.file.url }}">{% trans "Download" %}</a>
                              {% endif %}
                          </p>
                      {% endfor %}
                  </div>
                  {% endif %}



                </div>
              </div>
            </div>

          </div>

      {% endfor %}

      {% endwith %}

    </div>
  </div>
</section>

{% endblock %}


{% block foot %}

<script>

// tab üzerine ikinci kez tıklayınca tab'ı kapat

$('[data-toggle=tab]').click(function(){
    console.log($(this).hasClass('active'));
    if ($(this).hasClass('active')){
        var tab = $(this).data('target').substring(1);
        console.log(tab);
        $(this).removeClass('active');
        $('#'+ tab).removeClass('active').removeClass('show');
        return false;
    }
});

</script>

{% endblock %}
