{% extends 'base.html' %}
{% load i18n staticfiles %}


{% block content %}

<div class="container">

      <div class="gazeteciler-top text-center">

        <br/>

        <a href="" class="btn btn-sm btn-outline-secondary {% if not filter %}text-white btn-secondary{% endif %}">{% trans "All" %}</a>

        {% for c in "ABCÇDEFGHIİJKLMNOÖPRSTUÜVYZ" %}
            <a class="btn btn-sm btn-outline-secondary {% if filter == c %}text-white btn-secondary{% endif %}" href="?f={{ c }}">{{ c }}</a>
        {% endfor %}

        <br/><br/>

        <div class="gazeteciler-top text-center">

          <div class="gazeteciler-content text-center">
            <div class="row">

            {% for journalist in journalist_list %}

              <div class="col-md-4">
                <div class="card border-dark shadow p-3 mb-5 bg-white rounded gazetecicard">
                 <div style="padding-top: 10px;">
                    <div class="card-header" style="background-color:white;">
                        <div>
                          <a href= "{{ journalist.get_absolute_url }}" style="color:black"><img class="gazetecigorseli" src="{% if journalist.photo %}{{ journalist.photo.url }}{% else %}http://placehold.it/160x160{% endif %}"/> </a>
                          </div>
                          <div>
                       <h4 class="card-title card-block"> {{ journalist.name }}</h4>
                        </div>
                    </div>
                    <div>
                      <br/>
                      <span>
                          {% if journalist.bio %}
                              {{ journalist.bio|truncatewords:30 }}
                          {% else %}
                              <span class="text-muted"></span>
                          {% endif %}
                      </span>
                    </div>
                 </div>
                </div>
              </div>

              {% if forloop.counter|divisibleby:3 %}
                  </div><div class="row">
              {% endif %}

            {% endfor %}

            </div>

</div>

{% endblock %}
