{% extends 'base.html' %}
{% load i18n staticfiles martortags %}

{% get_current_language as LANGUAGE_CODE %}

{% block title %}{{ journalist.name }} - {{ block.super }}{% endblock %}


{% block content %}


<section>
  <div class="container py-3">
    <div class="card border-dark shadow p-3 mb-5 bg-white rounded">
      <div class="row card-header gazeteci-detay-card-header">
        <div class="col-md-4">
          <img src="{% if journalist.photo %}{{ journalist.photo.url }}{% else %}{% endif %}" class="gazetecidetaygorseli" style="object-fit: cover; width: 200px; height: 200px; border-radius: 100px">
        </div>

        <div class="col-md-8 px-3">
          <div class="card-block" style="text-align:justify;padding-right: 5px;  ">
            <h4 class="card-title">{{ journalist.name }}</h4>
            <div class="card-text align-middle small">
              {% if journalist.bio_en and LANGUAGE_CODE == 'en' %}
                  {{ journalist.bio_en|safe_markdown }}
              {% elif journalist.bio and LANGUAGE_CODE == 'tr' %}
                  {{ journalist.bio|safe_markdown }}
              {% endif %}
            </div>
          </div>
        </div>

      </div>

      {% with journalist.get_case_context as cases %}

      {% for case in cases %}

          <!--a href="{{ case.get_absolute_url }}"-->
              <h5 class="mt-4">{{ case.name }}</h5>
          <!--/a-->

          {% comment %}
          {% with case.casejournalist_set.all as case_journalists %}
              {% if case_journalists|length > 1 %}
              <p>
                  {% trans "Other journalists trialed in this case" %}:
                  {% for case_journalist in case_journalists %}
                      {% with case_journalist.journalist as other_journalist %}
                          {% if journalist != other_journalist %}
                              <a href="{{ other_journalist.get_absolute_url }}">{{ other_journalist.name }}</a>{% if not forloop.last %}, {% endif %}
                          {% endif %}
                      {% endwith %}
                  {% endfor %}
              </p>
              {% endif %}
          {% endwith %}
          {% endcomment %}

          <div class="col col-md-12 card-nav-tab">

            <ul class="nav nav-tabs">
              {% for note in case.notes %}
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" data-target="#tab-note{{ note.id }}" role="tab">
                    {% if LANGUAGE_CODE == 'en' %}
                        {{ note.type.type_en }}
                    {% else %}
                        {{ note.type.type }}
                    {% endif %}
                    </a>
                </li>
              {% endfor %}
              {% if LANGUAGE_CODE != 'en' %}
                  {% if case.trial_set.all %}
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" data-target="#tab-trials{{ case.id }}" role="tab">
                            {% trans "Trial Reports" %}
                        </a>
                    </li>
                  {% endif %}
              {% endif %}
              {% if case.documents or case.trial_documents %}
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" data-target="#tab-docs{{ case.id }}" role="tab">
                        {% trans "Documents" %}
                    </a>
                </li>
              {% endif %}
            </ul>

            <div class="card card-tabs-1">
              <div class="card-block">
                <div class="tab-content">

                  {% for note in case.notes %}
                      <div class="tab-pane" id="tab-note{{ note.id }}">
                      {% if LANGUAGE_CODE == 'en' and note.note_en %}
                        {{ note.note_en|safe_markdown }}
                      {% else %}
                        {{ note.note|safe_markdown }}
                      {% endif %}
                      </div>
                  {% endfor %}

                  {% if case.trial_set.all %}
                  <div class="tab-pane" id="tab-trials{{ case.id }}">
                    {% for trial in case.trial_set.all reversed %}
                        <!--a href="{{ trial.get_absolute_url }}"-->
                            <h5>
                                {{ trial.session_no }}. {% trans "Standing" %}
                                -
                                {{ trial.time_start|date }}
                            </h5>
                        <!--/a-->

                            {% with trial.trialdocument_set.all as trial_documents %}

                                <div class="tab-content">
                                    <div class="col-md-12 px-3">
                                        <div class="container flex-container">

                                            <ul class="nav nav-tabs" id="myTab" style="font-size:13px; align-content: justify; padding-top:1%;">
                                                <li class="nav-item">
                                                    <a class="nav-link" data-toggle="tab" data-target="#kunye-{{ trial.id }}" style="color:black;">{% if LANGUAGE_CODE == 'tr' %}{% trans "Case Summary" %}{% else %}Trial Summary{% endif %}</a>

                                                </li>
                                                {% for note in trial.notes %}
                                                    <li class="nav-item">
                                                        <a class="nav-link" data-toggle="tab" data-target="#note{{ note.id }}" style="color:black;">{{ note.type }}</a>
                                                    </li>
                                                {% endfor %}

                                                {% if trial_documents %}
                                                    <li class="nav-item">
                                                        <a class="nav-link" data-toggle="tab" data-target="#docs-{{ trial.id }}" style="color:black;">{% trans "Documents" %}</a>
                                                    </li>
                                                {% endif %}

                                            </ul>

                                            <div class="tab-content">

                                                <div id="kunye-{{ trial.id }}" class="tab-pane fade">
                                                    <p>
                                                    <br/>
                                                    {{ trial.summary|safe_markdown }}
                                                    {% if trial.time_next %}
                                                    <br/><br/>
                                                    <u>{% trans "Next Trial" %}:</u> {{ trial.time_next }}</p>
                                                    {% endif %}

                                                </div>

                                                {% for note in trial.notes %}
                                                    <div id="note{{ note.id }}" class="tab-pane fade">
                                                        <p>
                                                            <br/>
                                                            {{ note.note|safe_markdown }}
                                                        </p>
                                                    </div>
                                                {% endfor %}

                                                {% if trial_documents %}
                                                    <div id="docs-{{ trial.id }}" class="tab-pane fade ">
                                                        <p>
                                                        {% for trial_document in trial_documents %}
                                                            <br/>
                                                            <a href="{{ trial_document.file.url }}">{% if trial_document.type %}{{ trial_document.type }}{% else %}{{ trial_document.file.name }}{% endif %}</a>
                                                        {% endfor %}
                                                        </p>
                                                    </div>
                                                {% endif %}

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            {% endwith %}



                    {% endfor %}
                  </div>
                  {% endif %}

                  {% if case.documents or case.trial_documents %}
                  <div class="tab-pane" id="tab-docs{{ case.id }}">
                      {% for doc in case.documents %}
                          <p>
                              {{ doc.case }}
                              {% if doc.type %}
                                  (<a href="{{ doc.file.url }}">{{ doc.type }}</a>)
                              {% else %}
                                  <a href="{{ doc.file.url }}">{% trans "Download" %}</a>
                              {% endif %}
                          </p>
                      {% endfor %}

                      {% for doc in case.trial_documents %}
                          <p>
                              {{ doc.trial.case }}
                              {{ doc.trial.session_no }}. {% trans "Standing" %}
                              {% if doc.type %}
                                  (<a href="{{ doc.file.url }}">{{ doc.type }}</a>)
                              {% else %}
                                  <a href="{{ doc.file.url }}">{% trans "Download" %}</a>
                              {% endif %}
                          </p>
                      {% endfor %}
                  </div>
                  {% endif %}



                </div>
              </div>
            </div>

          </div>

      {% endfor %}

      {% endwith %}

    </div>
  </div>
</section>

{% endblock %}


{% block foot %}

<script>

// tab üzerine ikinci kez tıklayınca tab'ı kapat

$('[data-toggle=tab]').click(function(){
    console.log($(this).hasClass('active'));
    if ($(this).hasClass('active')){
        var tab = $(this).data('target').substring(1);
        console.log(tab);
        $(this).removeClass('active');
        $('#'+ tab).removeClass('active').removeClass('show');
        return false;
    }
});

</script>

{% endblock %}
