{% extends 'base.html' %}
{% load i18n staticfiles martortags %}

{% get_current_language as LANGUAGE_CODE %}

{% block content %}

<div class="container" style="min-width:60%; float:none; margin: 0 auto">

    <br/>

    <div class="row justify-content-md-center" style="min-width:80%; float:none; margin: 0 auto">
        <div class="gazeteciler-top text-center">
            <a href="?f=" class="btn btn-sm btn-outline-secondary {% if not filter %}text-white btn-secondary{% endif %}">{% trans "All" %}</a>
            {% for c in "ABCÇDEFGHIİJKLMNOÖPRSŞTUÜVYZ" %}
            <a class="btn btn-sm btn-outline-secondary {% if filter == c %}text-white btn-secondary{% endif %}" href="?f={{ c }}">{{ c }}</a>
            {% endfor %}
        </div>
    </div>

    <br/><br/>

    <div class="row justify-content-center" style="min-width:80%; float:none; margin: 0 auto">

        {% for journalist in journalist_list %}

        <div class="card col-xs-3 border-dark shadow p-3 mb-5 bg-white rounded gazetecicard text-center justify-content-md-start" style="margin:2%; height:40em">
            <div class="card-header pt-5" style="background-color:white;">
                <div>
                    <a href= "{{ journalist.get_absolute_url }}" style="color:black">
                        <img class="gazetecigorseli mx-auto text-center d-blok justify-content-md-center" src="{% if journalist.photo %}{{ journalist.photo.url }}{% else %}http://placehold.it/160x160{% endif %}" style="object-fit: cover; width: 200px; height: 200px; border-radius: 100px;"/>
                    </a>
                </div>
                <div>
                    <a href= "{{ journalist.get_absolute_url }}" style="color:black; text-decoration:none">
                        <h4 class="card-title card-block">{{ journalist.name }}</h4>
                    </a>
                </div>
            </div>
            <div style="text-align:justify;padding-right: 5px; ">
                <br/>
                <a href= "{{ journalist.get_absolute_url }}" style="color:black; text-decoration:none">
                    <span>
                      {% if journalist.short_bio_en and LANGUAGE_CODE == 'en' %}
                      {{ journalist.short_bio_en|safe_markdown }}
                      {% elif journalist.short_bio and LANGUAGE_CODE == 'tr' %}
                      {{ journalist.short_bio|safe_markdown }}
                      {% endif %}
                  </span>
              </a>
          </div>
      </div>

      {% endfor %}

  </div>

</div>

{% endblock %}
