{% extends 'base.html' %}
{% load i18n staticfiles %}


{% block content %}

<div class="container">

    <br/>

    <div class="row justify-content-md-center">
        <div class="gazeteciler-top text-center">
            <a href="?f=" class="btn btn-sm btn-outline-secondary {% if not filter %}text-white btn-secondary{% endif %}">{% trans "All" %}</a>
            {% for c in "ABCÇDEFGHIİJKLMNOÖPRSTUÜVYZ" %}
                <a class="btn btn-sm btn-outline-secondary {% if filter == c %}text-white btn-secondary{% endif %}" href="?f={{ c }}">{{ c }}</a>
            {% endfor %}
        </div>
    </div>

    <br/><br/>

    <div class="row">

        {% for journalist in journalist_list %}

        <div class="card col-xs-3 border-dark shadow p-3 mb-5 bg-white rounded gazetecicard text-center justify-content-md-start" style="margin-right: 5%">
            <div class="card-header pt-5" style="background-color:white;">
                <div>
                    <a href= "{{ journalist.get_absolute_url }}" style="color:black">
                        <img class="gazetecigorseli mx-auto text-center d-blok justify-content-md-center" src="{% if journalist.photo %}{{ journalist.photo.url }}{% else %}http://placehold.it/160x160{% endif %}" style="object-fit: cover; width: 200px; height: 200px; border-radius: 100px;"/>
                    </a>
                </div>
                <div>
                    <h4 class="card-title card-block">{{ journalist.name }}</h4>
                </div>
            </div>
            <div>
                <br/>
                <span>
                    {% if journalist.short_bio %}
                    {{ journalist.short_bio }}
                    {% endif %}
                </span>
            </div>
        </div>

        {% endfor %}

    </div>

</div>

{% endblock %}
