{% extends 'base.html' %}
{% load i18n staticfiles martortags %}

{% get_current_language as LANGUAGE_CODE %}

{% block content %}

<div class="container">


    <div class="row justify-content-md-center mt-4 mb-5" style="min-width:80%; float:none;">
        <div class="gazeteciler-top text-center">
            <a href="?f=" class="btn btn-sm btn-outline-secondary {% if not filter %}text-white btn-secondary{% endif %}">{% trans "All" %}</a>
            {% for c in "ABCÇDEFGHIİJKLMNOÖPRSŞTUÜVYZ" %}
                <a class="btn btn-sm btn-outline-secondary {% if filter == c %}text-white btn-secondary{% endif %}" href="?f={{ c }}">{{ c }}</a>
            {% endfor %}
        </div>
    </div>



      {% for case in case_list %}

          <a name="{{ case.id }}"></a>

          <h4 class="mt-4">
            {% if case.name_en and LANGUAGE_CODE == 'en' %}
                {{ case.name_en }}
            {% else %}
                {{ case.name }}
            {% endif %}
          </h4>


          {% with case.casedocument_set.all as case_documents %}
          {% with case.journalists.all as case_journalists %}


          {% if case_journalists %}
          <div class="my-3">
              {% for case_journalist in case_journalists %}
                  {% with case_journalist.journalist as other_journalist %}
                      {% if journalist != other_journalist %}
                          <a href="{{ other_journalist.get_absolute_url }}" target="_blank">{{ other_journalist.name }}</a>{% if not forloop.last %}, {% endif %}
                      {% endif %}
                  {% endwith %}
              {% endfor %}
          </div>
          {% endif %}


          {% comment %}
          <p>
          {% if case.summary_en and LANGUAGE_CODE == 'en' %}
              {{ case.summary_en|safe_markdown|truncatewords_html:50 }}
          {% elif case.summary and LANGUAGE_CODE == 'tr' %}
              {{ case.summary|safe_markdown|truncatewords_html:50 }}
          {% endif %}
          </p>
          {% endcomment %}



          {% if case_documents %}

          <h6>{% trans "Documents" %}</h6>

          <ul>
              {% for doc in case_documents %}
                  <li>
                      {% if doc.type %}
                          <a href="{{ doc.file.url }}" target="_blank">{{ doc.type }}</a>
                      {% else %}
                          <a href="{{ doc.file.url }}" target="_blank">{% trans "Download" %}</a>
                      {% endif %}
                  </li>
              {% endfor %}

              {% for doc in case.trial_documents %}
                  <li>
                      {{ doc.trial.session_no }}. {% trans "Standing" %}
                      {% if doc.type %}
                          <a href="{{ doc.file.url }}" target="_blank">{{ doc.type }}</a>
                      {% else %}
                          <a href="{{ doc.file.url }}" target="_blank">{% trans "Download" %}</a>
                      {% endif %}
                  </li>
              {% endfor %}
          </ul>
          {% endif %}


          {% endwith %}
          {% endwith %}

          <a href="{{ case.get_absolute_url }}" target="_blank">{% trans "details" %} &raquo;</a>

          <br>
          <br>

      {% endfor %}

</div>

{% endblock %}


{% block foot %}

<script>

// tab üzerine ikinci kez tıklayınca tab'ı kapat

$('[data-toggle=tab]').click(function(){
    console.log($(this).hasClass('active'));
    if ($(this).hasClass('active')){
        var tab = $(this).data('target').substring(1);
        console.log(tab);
        $(this).removeClass('active');
        $('#'+ tab).removeClass('active').removeClass('show');
        return false;
    }
});

</script>

{% endblock %}
