{% extends 'base.html' %}
{% load i18n staticfiles humanize martortags %}


{% block content %}

<div class="container">

    <h2 class="mt-4">
        {% if case.name_en and LANGUAGE_CODE == 'en' %}
            {{ case.name_en }}
        {% else %}
            {{ case.name }}
        {% endif %}
    </h2>


    {% with case.casedocument_set.all as case_documents %}
    {% with case.journalists.all as case_journalists %}

    <div class="row">

      <div class="col-md-9">

        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" data-target="#kunye-{{ case.id }}" style="color:black;">{% if LANGUAGE_CODE == 'tr' %}{% trans "Case Summary" %}{% else %}Trial Summary{% endif %}</a>
          </li>
          {% for note in case.notes %}
            <li class="nav-item">
                <a class="nav-link {% if forloop.first %}active{% endif %}" data-toggle="tab" data-target="#tab-note{{ note.id }}" role="tab">
                {% if LANGUAGE_CODE == 'en' %}
                    {{ note.type_en }}
                {% else %}
                    {{ note.type }}
                {% endif %}
                </a>
            </li>
          {% endfor %}
        </ul>

        <div class="card card-tabs-1">
          <div class="card-block">
            <div class="tab-content">

              <div id="kunye-{{ case.id }}" class="tab-pane active">
                  <p>
                  {% if case.summary_en and LANGUAGE_CODE == 'en' %}
                      {{ case.summary_en|safe_markdown }}
                  {% elif case.summary and LANGUAGE_CODE == 'tr' %}
                      {{ case.summary|safe_markdown }}
                  {% endif %}
                  </p>
              </div>

              {% for note in case.notes %}
              <div class="tab-pane {% if forloop.first %}active{% endif %}" id="tab-note{{ note.id }}">
              {% if LANGUAGE_CODE == 'en' and note.note_en %}
                {{ note.note_en|safe_markdown }}
              {% else %}
                {{ note.note|safe_markdown }}
              {% endif %}
              </div>
              {% endfor %}


            </div>
          </div>
        </div>


      </div>


      <div class="col-md-3">

          {% if LANGUAGE_CODE != 'en' %}
              {% if case.trial_set.all %}
                <h5 class="mt-4">
                    {% trans "Trial Reports" %}
                </h5>
                {% for trial in case.trial_set.all reversed %}

                    <a href="{{ trial.get_absolute_url }}" class="d-block">
                        {{ trial.session_no }}. {% trans "Standing" %}
                        -
                        {{ trial.time_start|date }}
                    </a>

                {% endfor %}
              {% endif %}
          {% endif %}

          {% if case_documents or case.trial_documents %}
            <h5 class="mt-4">
                {% trans "Documents" %}
            </h5>

              {% for doc in case_documents %}
                  <p>
                      {% if doc.type %}
                          {% if LANGUAGE_CODE != 'en' and doc.type.type_en %}
                              <a href="{{ doc.file.url }}" target="_blank">{{ doc.type.type_en }}</a>
                          {% else %}
                              <a href="{{ doc.file.url }}" target="_blank">{{ doc.type }}</a>
                          {% endif %}
                      {% else %}
                          <a href="{{ doc.file.url }}" target="_blank">{% trans "Download" %}</a>
                      {% endif %}
                  </p>
              {% endfor %}

              {% for doc in case.trial_documents %}
                  <p>
                      {{ doc.trial.session_no }}. {% trans "Standing" %}
                      {% if doc.type %}
                          {% if LANGUAGE_CODE != 'en' and doc.type.type_en %}
                              (<a href="{{ doc.file.url }}" target="_blank">{{ doc.type.type_en }}</a>)
                          {% else %}
                              (<a href="{{ doc.file.url }}" target="_blank">{{ doc.type }}</a>)
                          {% endif %}
                      {% else %}
                          <a href="{{ doc.file.url }}" target="_blank">{% trans "Download" %}</a>
                      {% endif %}
                  </p>
              {% endfor %}

          {% endif %}

          {% if case_journalists %}
            <h5 class="mt-4">
                {% trans "Journalists" %}
            </h5>

              {% for case_journalist in case_journalists %}
                  {% with case_journalist.journalist as other_journalist %}
                      {% if journalist != other_journalist %}
                          <a href="{{ other_journalist.get_absolute_url }}" class="d-block">{{ other_journalist.name }}</a>
                      {% endif %}
                  {% endwith %}
              {% endfor %}

          {% endif %}


      </div>

    </div>




          {% endwith %}
          {% endwith %}

</div>

{% endblock %}
