{% extends 'base.html' %}
{% load i18n staticfiles humanize %}


{% block content %}

<div class="container">

    {{ case }}

    <br>

    yargilanan gazeteciler:

    <br>

    {% for casejournalist in case.casejournalist_set.all %}

        <a href="{{ casejournalist.journalist.get_absolute_url }}">{{ casejournalist.journalist }}</a>

        {{ casejournalist.institution }}

        {{ casejournalist.position }}

        {{ casejournalist.get_decision_type_display }}

        {{ casejournalist.punishment_amount }}

        <br>

    {% endfor %}


    suclamalar:

    <br>

    {% for indictment in case.indictment_set.all %}

        {{ indictment }}

        <br>

    {% endfor %}


    dokumanlar:

    <br>

    {% for document in case.casedocument_set.all %}

        <a href="{{ document.file.url }}">{{ document.type }}</a>

        <br>

    {% endfor %}


    notlar:

    <br>

    {% for note in case.casenote_set.all %}

        {{ note.type }}:
        {{ note.note }}

        <br>

    {% endfor %}


    durusmalar:

    <br>

    {% for trial in case.trial_set.all %}

        <a href="{{ trial.get_absolute_url }}">{{ trial.time }}</a> ({{ trial.time|naturaltime }})

        <br>

    {% endfor %}


</div>

{% endblock %}
