{% extends 'base.html' %}
{% load i18n staticfiles %}


{% block title %}{% trans "Trial Reports" %} - {{ block.super }}{% endblock %}



{% block content %}

<div class="container">

    <br><br>

    {% for trial in trial_list %}

        {% with trial.trialdocument_set.all as trial_documents %}


        <section style="font-family: 'Raleway', sans-serif;">
            <div class="tab-content">
                <div class="card border-dark col-md-12 shadow p-3 mb-5 bg-white rounded justify-content-center">
                    <div class="col-md-12 px-3">
                        <div class="container flex-container">
                            <h4 class="card-title durusma-tab" style="font-family: 'Raleway Black', sans-serif;">
                                <b>
                                {{ trial.case.name }}
                                {% blocktrans with trial.session_no as session_no %}{{ session_no }}. Standing{% endblocktrans %}
                                ({{ trial.time_start|date }})
                                </b>
                            </h4>

                            <ul class="nav nav-tabs" id="myTab" style="font-size:13px; align-content: justify; padding-top:1%;">
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" data-target="#kunye-{{ trial.id }}" style="color:black;">{% trans "Case Summary" %}</a>

                                </li>
                                {% for note in trial.notes %}
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" data-target="#note{{ note.id }}" style="color:black;">{{ note.type }}</a>
                                    </li>
                                {% endfor %}

                                {% if trial_documents %}
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" data-target="#docs-{{ trial.id }}" style="color:black;">{% trans "Documents" %}</a>
                                    </li>
                                {% endif %}

                            </ul>

                            <div class="tab-content">

                                <div id="kunye-{{ trial.id }}" class="tab-pane fade">
                                    <p>
                                    <br/>
                                    {{ trial.summary|linebreaks }}
                                    {% if trial.time_next %}
                                    <br/><br/>
                                    <u>{% trans "Next Trial" %}:</u> {{ trial.time_next }}</p>
                                    {% endif %}

                                </div>

                                {% for note in trial.notes %}
                                    <div id="note{{ note.id }}" class="tab-pane fade">
                                        <p>
                                            <br/>
                                            {{ note|linebreaks }}
                                        </p>
                                    </div>
                                {% endfor %}

                                {% if trial_documents %}
                                    <div id="docs-{{ trial.id }}" class="tab-pane fade ">
                                        <p>
                                        {% for trial_document in trial_documents %}
                                            <br/>
                                            <a href="{{ trial_document.file.url }}">{% if trial_document.type %}{{ trial_document.type }}{% else %}{{ trial_document.file.name }}{% endif %}</a>
                                        {% endfor %}
                                        </p>
                                    </div>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        {% endwith %}

    {% endfor %}

</div>

{% endblock %}


{% block foot %}

<script>

// tab üzerine ikinci kez tıklayınca tab'ı kapat

$('[data-toggle=tab]').click(function(){
    console.log($(this).hasClass('active'));
    if ($(this).hasClass('active')){
        var tab = $(this).data('target').substring(1);
        console.log(tab);
        $(this).removeClass('active');
        $('#'+ tab).removeClass('active').removeClass('show');
        return false;
    }
});

</script>

{% endblock %}
