{% extends 'base.html' %}
{% load i18n staticfiles humanize martortags %}


{% block content %}

<div class="container">

          <h2 class="mt-4">
            {% if trial.case.name_en and LANGUAGE_CODE == 'en' %}
                {{ trial.case.name_en }}
            {% else %}
                {{ trial.case.name }}
            {% endif %}
          </h2>

            <h3 class="mt-2">
                {{ trial.session_no }}. {% trans "Standing" %}
                -
                {{ trial.time_start|date }}
            </h3>

            {% with trial.trialdocument_set.all as trial_documents %}

                <div class="tab-content">
                    <div class="col-md-12 px-3">
                        <div class="container flex-container">

                            <ul class="nav nav-tabs" id="myTab" style="font-size:13px; align-content: justify; padding-top:1%;">
                                {% for note in trial.notes %}
                                    <li class="nav-item">
                                        <a class="nav-link {% if forloop.first %}active{% endif %}" data-toggle="tab" data-target="#note{{ note.id }}" style="color:black;">{{ note.type }}</a>
                                    </li>
                                {% endfor %}

                                {% if trial_documents %}
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" data-target="#docs-{{ trial.id }}" style="color:black;">{% trans "Documents" %}</a>
                                    </li>
                                {% endif %}

                            </ul>

                            <div class="tab-content">

                                {% for note in trial.notes %}
                                    <div id="note{{ note.id }}" class="tab-pane fade {% if forloop.first %}show active{% endif %}">
                                        <p>
                                            <br/>
                                            {{ note.note|safe_markdown }}
                                        </p>
                                    </div>
                                {% endfor %}

                                {% if trial_documents %}
                                    <div id="docs-{{ trial.id }}" class="tab-pane fade ">
                                        <p>
                                        {% for trial_document in trial_documents %}
                                            <br/>
                                            <a href="{{ trial_document.file.url }}" target="_blank">{% if trial_document.type %}{{ trial_document.type }}{% else %}{{ trial_document.file.name }}{% endif %}</a>
                                        {% endfor %}
                                        </p>
                                    </div>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                </div>

            {% endwith %}

</div>

{% endblock %}
