{% extends 'base.html' %}
{% load i18n staticfiles humanize %}


{% block content %}

<div class="container">

    dava: <a href="{{ trial.case.get_absolute_url }}">{{ trial.case }}</a>
    <br>
    zaman: {{ trial.time }}
    <br>
    durusma no: {{ trial.session_no }}

    <br>


    dokumanlar:

    <br>

    {% for document in case.casedocument_set.all %}

        <a href="{{ document.file.url }}">{{ document.type }}</a>

        <br>

    {% endfor %}


    notlar:

    <br>

    {% for note in trial.trialnote_set.all %}

        {{ note.type }}:
        {{ note.note }}

        <br>

    {% endfor %}


    hak ihlalleri:

    <br>

    {% for violation in trial.trialviolation_set.all %}

        {{ violation.type }}
        <br>
        {{ violation.details }}

        <br>

    {% endfor %}



</div>

{% endblock %}
