{% extends 'base.html' %}
{% load i18n staticfiles martortags %}


{% block title %}{{ article.title }} - {{ block.super }}{% endblock %}


{% block content %}


{% get_current_language as LANGUAGE_CODE %}


<section>
  <div class="container py-3">
    <div class="card border-dark shadow p-3 mb-5 bg-white rounded">
      <div class="row card-header analiz-detay-header">
          {% if article.image %}
          <div class="col-xs-8 align-middle">
              <img style="margin-left:9%; width: 80%; height:300px;" src="{{ article.image.url }}" />
          </div>
          {%  endif %}

          <div class="col-md-12 px-3 my-4" align="center">
            <div class="card-block" >
              <h2 class="card-title">
                  {{ article.title }}
              </h2>

              {% if article.subtitle %}
              <h3 class="card-title">{{ article.subtitle }}</h3>
              {% endif %}

              <h4 class="small text-muted">{{ article.added|date }}</h4>

              <p class="card-text analiz-detay-text" style="text-align:justify;padding-right: 5px;">
                  {{ article.summary|safe_markdown }}
              </p>
            </div>
          </div>


          {% with article.section_set.all as sections %}
          {% for section in sections %}

              {% if section.title %}
              <h3 class="card-title w-100">{{ section.title }}</h3>
              {% endif %}
 
              {% if section.image %}
              <div class="w-100 text-center p-4">
                  <img src="{{ section.image.url }}" />
              </div>
              {%  endif %}
              {% if section.text %}
              <p class="text-justify card-text pr-3">
                  {{ section.text|safe_markdown }}
              </p>
              {% endif %}

          {% endfor %}
          {% endwith %}

      </div>
    </div>
  </div>
</section>


{% endblock %}
